*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-align: center;
    font-size: 16px;
    font-family: 'Lobster';
   
}
input{
    visibility: hidden;
}
html 
{

    padding:0;
    margin:0;
    width:100w;
    overflow: hidden;
   
    
}
.overlay {
    
    background: rgba(0,0,0, 0.3);
    width:100vw;
    height:100vh;
}

.overlay-1{
    
    position:absolute;
    top:0;
    z-index:-1;
    opacity:0;
    filter: grayscale(100%);
    transition:1s;

   
}
.overlay-2{

    background: rgba(0,0,0, 0.3);
    position:absolute;
    top:0;
    z-index:-1;
    opacity:0;
    filter: grayscale(100%);
    transition:1s;
  
}
.overlay-3{

    background: rgba(0,0,0, 0.3);
    position:absolute;
    top:0;
    z-index:-1;
    filter: grayscale(100%);
    transition:1s;
}

.session-title {
    font-size:2rem;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    position:fixed;
    top:0;
    left:50%;
    transform: translate(-50%, 25%);
    text-transform: uppercase;
    z-index:50;
}


.session-container {

    margin:0;
    width:100vw;
    height: 100vh;
    background: url('coffee.jpg') no-repeat;
    background-size:cover;  
    
    
  
}


.session-container ul {
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    display:flex;
    
}

.session-container ul li {
    list-style:none;  
    margin:10px;
}

.test-box {
    width:350px;
    height:175px;
    display:flex;
    cursor: pointer;

  
}
.test-box .test-details{
    width:175px;
    height:175px;
    background: rgba(148, 101, 101, 0.1);
    padding:25px 25px;
}
.test-box .test-details i {
    font-size:24px;
    color: #666666;
    margin-bottom:1rem;
}

.test-box .test-details h3{
    font-size: 18px;
    line-height:30px;
 
}

.test-box img {
    width:175px;
    height:175px;
    opacity:0.7;
    transition:0.5s;
}

.test-box:hover img{
    opacity:1;
}

#test3:checked ~ .overlay-3{
    opacity:1;
   z-index:999;
  
   filter:grayscale(0)
}
#test1:checked ~ .overlay-1{
    opacity:1;
    z-index:999;
  
    filter:grayscale(0)
 }
 #test2:checked ~ .overlay-2{
    z-index:999;
    opacity:1;
   
    filter:grayscale(0)
 }

.full-test-box{
    width:80vw;
    height:80vh;
    transform:scale(1);
    opacity:1;
    transition:1s;
    position:absolute;
    left:50%;
    top:10%;
    transform: translateX(-50%);
}



.full-test1 {
    background:url('cus1-large.jpg');
    background-size:cover;
    background-position:top center;
    position:absolute;
    

}

.full-test2 {
    background:url('cus2-large.jpg');
    background-size:cover;
    background-position:top center;
    position:absolute;
  
 
}

.full-test3 {
    background:url('cus3-large.jpg');
    background-size:cover;
    background-position:top center;
    position: absolute;
    

}

.full-test-box label{
    position:absolute;
    top:1rem;
    right:2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color:white;
}

.full-test-box label:hover{
    transform: scale(1.2);

}

.test-stars {
    display:flex;
    justify-content: center;

    

}
.test-stars li {
    list-style: none;
    color:yellow;
    margin:1px;
}

.full-test-box .full-test-details {
    padding: 2rem 2rem;
    width:50%;
    height:100%;
    color:white;
    background: rgba(255,255,255,0.5);
    position:relative;
    text-align:center;
}

.full-test3 .full-test-details {
    float:right;
}


.full-test3 label{
    z-index:1000;
    color:black;
}

.full-test-box .full-test-details p,
.full-test-box .full-test-details h3{
 
    font-size:1.5rem;
    line-height:2.5rem;
    text-shadow: 0.5px 0.5px #999999;
}
.full-test-box .full-test-details h3{
    font-size:2rem;
    line-height:4rem;
    font-style: italic;
    margin-top:2rem;

}

